@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin transition($property: all, $duration: .4s, $timing-function: ease, $delay: 0s) {
  transition: $property $duration $timing-function $delay;
}
